---
import Layout from '../../layouts/Layout.astro';
import { GitClone } from '../../components/GitClone';
---

<Layout title='AVAnnotate Testing Git Functionality'>
  <main>
    <h1>AVAnnotate</h1>
    <h3>Testing Git Functionality</h3>
    <GitClone client:only='React' />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
  }
  h3 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
</style>
